/* 
.text-center {
       margin: auto;
       background: white;
}

.text-center h2{
    font-family: cursive;
    text-decoration: underline;
}

.addproduct{
       margin: 10px auto;
       width: 50%;
       height: 420px;
       padding: 20px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #D9B08A;
       
     

}



.addbtn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       /* margin-top: 25px; */
       /* padding: 5px 15px;

}

.newbtn {
       background: #ccc;
       color: black;
       /* position: relative;
       overflow: hidden; */
       /* margin-top: 45px;
       padding: 10px 20px;
       margin-left: 20px;

}

.newbtn img{
       width: 30px;
       text-align: center;
}  */

.addproduct {
       margin: 10px auto;
       width: 40%;
       /* height: 360px; */
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(31, 23, 23, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       /* background: url("C:\Users\INTEL\Desktop\login bg image.jpg"); */
}

.add-btn {
       background: linear-gradient(135deg, #d16c24, #ff6b6b);
       color: white;
       position: relative;
       overflow: hidden;
       margin-top:25px;
       padding: 10px 20px;

}

.add-btn::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

.add-btn:hover::before {
       left: 100%;
}