/* .address{
    width: 600px;
    margin: 10% auto;
     background: hwb(207 73% 23%) ; 
    border: solid 1px black;
    padding: 20px 50px;
    

} */


.text-center {
       margin: auto;
       background: white;

}

.text-center h2 {
       font-family: cursive;
       text-decoration: underline;
}

.addressform {
       margin: 10px auto;
       width: 50%;
       /* height: 0px; */
       padding: 20px 20px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #EBCEA3;


}

.address-btn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       margin-top: 75px;
       padding: 10px 20px;

}

.address-btn::before {

       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

.address-btn:hover::before {
       left: 100%;
}

@media (max-width: 768px) {
       .addressform {
              width: 95%;
       }

       .addressform label {
              text-align: left;
              display: block;
       }

       .registerform .col-md-4,
       .registerform .col-md-8,
       .registerform .col-xs-8 {
              padding-left: 0;
              padding-right: 0;
              width: 100%;
       }
}

.addressform input {
       width: 80%;
       padding: 8px 10px;
       font-size: 16px;
       box-sizing: border-box;
}

.addressform {
       max-width: 100%;
       height: 600px;
       margin: auto;
}

.addressform2 {
       background: #EBCEA3;
       max-width: 40%;
       height: 200px;
       margin: auto;
       padding: 20px 20px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
}

.addressform label {
       font-weight: 500;
}

.newaddressform {
       margin-bottom: 20px;
       background: #EBCEA3;
       max-width: 50%;
       
       margin: auto;
       padding: 20px 20px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
}

.newaddressform input {
       width: 80%;
       padding: 8px 10px;
       font-size: 16px;
       box-sizing: border-box;
}