.cart{
    width: 40%;
    margin: 10% auto;
     background: hwb(207 73% 23%) ; 
    border: solid 1px black;
    padding: 20px;
}

.icon img{
    width: 20px;
}

.cat h2{
    text-align: left;
}

.abc button{
    margin: 10px;
}