
.text-center {
       margin: auto;
       background: white;
       
}

.text-center h2{
    font-family: cursive;
    text-decoration: underline;
}

.category{
       margin: 10px auto;
       width: 50%;
       /* height: 0px; */
       padding: 20px 20px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #ccc;
     

}

.cate-btn {
       background: #2E0708;
       color: beige;
       position: relative;
       overflow: hidden;
       margin-top: 35px;
       padding: 10px 20px;

}

/* .btn::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
} */