.logoarea {
  padding: 0px;
}

.logoarea img {
  width: 300px;
  float: left;
}

.icon {
  display: flex;
  align-items: center;
  /* vertical center */
  gap: 15px;
  /* icons ke beech space */
}

.icon i {
  font-size: 22px;
  /* sab icons same size */
  cursor: pointer;
  color: #000;
}

.icon button {
  /* display: flex; */
  align-items: center;
  gap: 6px;
  /* icon + text gap */
  font-size: 16px;
  padding: 6px 12px;
  height: 36px;
  /* icon ke barabar height */
}


.h2 {
  color: aqua;
}

.search {
  padding: 50px 0;
}

.icon {
  padding: 55px 0;

}

.icon i {
  width: 85px;
  height: 40px;
  text-align: center;
  color: #300708;
  font-size: 32px;

}

.icon button {
  width: 100px;
  height: 40px;
  background: #300708;
  color: white;

}


.navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.navbar img {

  width: 60px;
  height: 30px;
}

.bg-body-tertiary .navbar {
  color: antiquewhite;
  background: blue;
}

.slidearea {
  padding: 10px;
  text-align: center;


}

.slidearea img {
  width: 100%;
  text-align: center;
}

.collection {
  padding: 10px 0;
}

.collection h3 {
  text-align: center;
  font-family: Times New Roman;
  font-size: 50px;
}

.collection h4 {
  text-align: center;
  font-family: Times New Roman;
  color: gray;
  font-size: 30px;
}





/* .img1 img {
  padding: 20px 0;
  border-radius: 10px;




} */

/* .img2 img {
  padding: 20px 0;
  width: 650px;
  height: 375px;

  border-radius: 10px;



} */


.collection-box.big {
  height: 620px;
  margin-bottom: 20px;
}


.right-column {

  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 580px;
}

/* right small images */
.collection-box.small {
  height: 300px;

}

/* common image style */
.collection-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



.categories h3 {
  text-align: center;
  font-family: Times New Roman;
}

.categories h4 {
  text-align: center;
  font-family: Times New Roman;
  color: gray;
}

.category1 img {
  height: 325px;
  width: 300px;
  border-radius: 10px;
}

.category1 h4 {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}

.category2 {
  padding: 10px 0;
}

.category2 img {
  height: 325px;
  width: 300px;
  border-radius: 10px;
}

.category2 h4 {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}

.category2 h3 {
  padding-top: 40%;

  text-align: center;
  color: #852D2D;
}

.category2 p {
  text-align: center;
}

.view_all {
  border: 5px solid beige;
  height: 325px;
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

.tending {
  padding: 20px 0;
}

.tending h2 {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}

.tending h3 {
  text-align: center;
  font-family: Times New Roman;
  color: gray;
}

.tending img {
  height: 325px;
  width: 400px;
  border-radius: 10px;
}

.tending h4 {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}

.tworld {
  padding: 20px 0;
}

.tworld h2 {
  text-align: center;
  font-family: Times New Roman;
}

.tworld h3 {
  text-align: center;
  font-family: Times New Roman;
  color: grey;
}

.tworld img {
  margin-bottom: 10px;
  border-radius: 10px;
  height: 400px;
  width: 600px;
}

.tworld img :hover {
  transform: scaleX(-1);
}

.tworld h4 {
  text-align: center;
  font-family: Times New Roman;
} 

.videoarea {
  padding: 20px 0;
}

.videoarea h2 {
  text-align: center;
  font-family: Times New Roman;
}

.videoarea h3 {
  text-align: center;
  font-family: Times New Roman;
  color: gray;
}

.video1 p {
  text-align: center;
  color: gray;
  font-family: sans-serif;
}

.collection2 {
  margin-bottom: 5px;
}


@media screen and (max-width:1000px) {

  .collection2 {
    margin: 5px 0;
  }
}

@media (max-width: 576px) {
  .tworld-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tworld-card img {
    max-width: 180px;
    margin: 0 auto 10px;
    display: block;
  }

  .tworld h2 {
    font-size: 24px;
  }

  .tworld h3 {
    font-size: 16px;
  }

  .tworld-card h4 {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.img4 {
  padding: 20px 0;

}

.img4 img {
  width: 200px;
  height: 200px;
  margin: 0 60px;

}

.img4 p {
  text-align: center;
  font-family: Times New Roman;

}

.shop_by_gender {
  padding: 20px 0;
}

.shop_by_gender h3 {
  text-align: center;
  font-family: Times New Roman;
}

.shop_by_gender h5 {
  text-align: center;
  font-family: Times New Roman;
  color: grey;
  font-weight: bold;
}

.shop_by_gender img {
  height: 400px;
  width: 400px;
}

.experience {
  padding: 30px 0;

}

.experience h3 {
  text-align: center;
  font-family: Times New Roman;
  font-weight: 800;
}

.experience h4 {
  text-align: center;
  font-family: Times New Roman;
  color: gray;
}

.experience h6 {
  font-weight: 500;
  text-align: center;
}

.experience img {
  width: 375px;
  height: 400px;

}

/* .navbar{
  
  text-align:center ;
} */

.navbar img {
  width: 30px;
}


/* Gold */

.img h5 {
  text-align: center;
  font-family: cursive;
}

.img h4 {
  text-align: center;
  font-family: cursive;
}

.img p {
  color: #C99F97;
}

/* Diamond */

.diamond_img {
  padding: 20px 0;
  padding-bottom: 10px;
}



.diamond_img h4 {
  text-align: center;
  font-family: cursive;

}

.diamond_img h5 {
  text-align: center;
  font-family: cursive;
}

.canvas {
  margin: 10px auto;
  /* width: 45%;
       height: 360px;
       padding: 40px 30px; */
  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
  position: relative;
  text-align: center;
  border: 5px solid rgb(244, 242, 242);

}

.canvas img {
  width: 50px;
  float: left;
}

.info img {
  width: 50px;

  float: right;
}

.box {

  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
  color: #300708;
  text-align: center;
  border: 5px solid rgb(244, 242, 242);


}

.graph {
  /* width: 700px; */
  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
  color: #300708;
  text-align: center;
  border: 5px solid rgb(244, 242, 242);

}

.canvas2 {
  margin: 10px;
}

.canvas2 img {
  width: 40px;
  margin: 10px;
}

.canvas2 h3 {
  margin: 20px;
}

.canvas2 i {
  width: 50px;
}

.account {
  margin: 10px auto;
  width: 65%;
  /* height: 200px; */
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);

  text-align: center;
  border: 5px solid rgb(244, 242, 242);
  background: #EBCEA3;
}

.text-center h3 {
  font-family: cursive;
  text-decoration: underline;
}

.mapingimage img {
  width: 100px;
}

.mapingimage td {
  text-align: center;
}

.cart {
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 10px;
}

.cart img {
  width: 200px;
}




.add_Id label {
  text-align: center;
  float: 30px;
}



/* ACCOUNT  */
.float-list {
  float: left;
}