

.polaroid {
    width: 400px;
    padding: 20px;
    
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
}

.polaroid img{
    margin: 10px;
    width: 250px;
    height: 280px;
}




.buy-btn{
    text-align: center;
    width: 175px;
    height: 50px;
    color: black;
    background:burlywood;
    margin-bottom: 20px;
    
}

.polaroid button:hover {
    color: black;
    background: #EBCEA3;
}   
.Image{
     background:gray;
}
/* .xyz h4{
    text-align: center;
}

.xyz h5{
    text-align: center;
}

.polaroid1 Image{
    height: 200px;
} */

.polaroid {
  position: relative;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #300708;
  font-size: 26px;
  cursor: pointer;
  background: white;
  
}

.details h4{
    font-family: cursive;
}

.details h5{
    font-family: cursive;
}

/* .details p{
    font-family: cursive;
} */

.wishlist-btn {
  position: absolute;
  top: 40px;
  right: 80px;
  /* background: white; */
  border: none;
  text-align: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  

  
 
}

.wishlist-icon{
    width: 20px;
    height: 20px;
}

.wishlist-btn:hover {
  background: #ffe6e6;
  transform: scale(1.1);
}


.wishlist-btn:hover .wishlist-icon {
  color: red;
}



.addtocart-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  border: none;
  text-align: center;
  
  width: 35px;
  height: 35px;
  

  
 
}

.add-icon{
    width: 20px;
    height: 20px;
}





.card-wishlist-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  background: #FFFFFF;
  border: none;
  text-align: center;
  
  width: 35px;
  height: 35px;
  border-radius: 50%;
  

  
 
}

.card-wishlist-icon{
    width: 20px;
    height: 20px;
}

.card-wishlist-btn:hover .wishlist-icon {
  color: red;
}