
div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}



div.container {
    text-align: center;
    padding: 10px 20px;
}

.container button {
    text-align: center;
    width: 175px;
    height: 50px;
    color: white;
    background: #300708;
}

.container button:hover {
    color: aliceblue;
    background: burlywood;
} 

