
.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.polaroid button{
    margin-bottom: 20px;
}


.containerd {
    text-align: center;
    padding: 10px 20px;
}

 .cont button {
    text-align: center;
    width: 175px;
    height: 50px;
    color: white;
    background: #A56363;
    padding-bottom: 5px;
} 

.container button:hover {
    color: aliceblue;
    background: black;
}  