
.product {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}



.detail {
    text-align: center;
    padding: 10px 20px;
}

 .detail button {
    text-align: center;
    width: 175px;
    height: 50px;
    padding-bottom: 5px;
    /* color: white;
    background: #300708; */
}



.product {
  position: relative;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #300708;
  font-size: 26px;
  cursor: pointer;
  background: white;
  
}