.slidearea {
    padding: 10px;
    text-align: center;


}

.slidearea img {
    width: 100%;
    text-align: center;
}

.area2 {
    padding: 10px 0;
}

.area2 h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.area2 img {
    width: 100px;
    text-align: center;
}





.area2 img {
    border-radius: 10px;
    
}

.xyz img{
    border-radius: 10px;
    margin: 10px;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

/* .details {
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.xyz {
    position: relative;
    display: inline-block;
}

.image {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.shop_by_occasion {
    position: relative;
    display: inline-block;

}





.shop_by_occasion h2 {
    text-align: center;
}



.occasion img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: grey 0.9;

}

