/* .body{
       margin: auto;
       background: pink;
       background: url("login\ bg\ image.jpg");
       
} */
.text-center {
       margin: auto;
       background: white;
}

/* .loginform {
       margin: 10px auto;
       width: 45%;
       
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #EBCEA3;
     

} */



.loginform {
       background-image: url("https://www.transparenttextures.com/patterns/gold-scale.png");

       margin: 40px auto;
       width: 40%;
       padding: 30px 25px;
       border-radius: 20px;
       position: relative;
       text-align: center;

       background: linear-gradient(135deg, #fff8f5, #fbeaea, #fff);

       box-shadow:
              0 10px 40px rgba(0, 0, 0, 0.08),
              0 0 20px rgba(212, 175, 55, 0.2);

       border: 1px solid rgba(212, 175, 55, 0.3);


}


/* 
.login-btn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       margin-top: 25px;
       padding: 10px 20px;

}

.login-btn::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
} */

.loginform .row{
       margin-bottom: 5px;
}




.login-btn {
       background: linear-gradient(45deg, #892528, #c89b3c);
       color: white;
       /* margin-top: 30px; */
       padding: 10px 25px;
       border-radius: 30px;
       border: none;
       font-weight: 600;
       letter-spacing: 1px;
       transition: 0.3s;
}

.login-btn:hover {
       transform: scale(1.05);
       box-shadow: 0 5px 20px rgba(200, 155, 60, 0.5);
}

@media (max-width: 768px) {
  .loginform {
    width: 95%;
  }

  .loginform label {
    text-align: left;
    display: block;
  }

  .loginform .col-md-4,
  .loginform .col-md-8,
  .loginform .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
