/* .body{
       margin: auto;
       background: pink;
       background: url("login\ bg\ image.jpg");
       
} */
.text-center {
       margin: auto;
       background: white;
}

.loginform {
       margin: 10px auto;
       width: 45%;
       height: 360px;
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #ccc;
     

}

.login-btn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       margin-top: 75px;
       padding: 10px 20px;

}

.login-btn::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

.login-btn:hover::before {
       left: 100%;
}