/* .body{
       margin: auto;
       background: pink;
       background: url("login\ bg\ image.jpg");
       
} */
.text-center {
       margin: auto;
       background: white;
}

.loginform {
       margin: 10px auto;
       width: 45%;
       /* height: 360px; */
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #EBCEA3;
     

}

.login-btn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       margin-top: 25px;
       padding: 10px 20px;

}

.login-btn::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

@media (max-width: 768px) {
  .loginform {
    width: 95%;
  }

  .loginform label {
    text-align: left;
    display: block;
  }

  .loginform .col-md-4,
  .loginform .col-md-8,
  .loginform .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
