.text-center {
       margin: auto;
       background: white;
}

.registerform {
       margin: 10px auto;
       width: 45%;
       /* height: 360px;  */
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: #ccc;


}

.register-btn {
       background: #2E0708;
       color: white;
       position: relative;
       overflow: hidden;
       margin-top: 15px;
       padding: 10px 20px;

}

.register-btn::before {

       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}











@media (max-width: 768px) {
       .registerform {
              width: 95%;
       }

       .registerform label {
              text-align: left;
              display: block;
       }

       .registerform .col-md-4,
       .registerform .col-md-8,
       .registerform .col-xs-8 {
              padding-left: 0;
              padding-right: 0;
              width: 100%;
       }
}