





.abc{
   
    width: 40%;
    margin: 10% auto;
    background: #ccc ;
    border: solid 1px black;
    padding: 20px;
    /* background-image: url("https://i.pinimg.com/736x/91/f3/2c/91f32c742f6fd14284feff7673df96b5.jpg"); */

}





.abc p{
    
    
    text-align: center;
}

.abc h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.registerform{
     width: 60%;
    margin: 10% auto;
    background: #ccc ;
    border: solid 1px black;
    padding: 20px;
}