/* .Image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 2s;
}

.Image:hover{
    opacity: 1;
    transform:scale(1.2,1.2);
} */

.area1 h5{
    text-align: center;
    font-family: cursive;
}

.area1 h4{
     text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.products details h5{
    font-family: 'Times New Roman', Times, serif;
}

div.detail {
  text-align: center;
  padding: 10px 20px;
}

 .detail button{
    text-align: center;
    width: 160px;
    height: 50px;
    color: white;
    
    padding-bottom: 25px;
}
